<div class="container mt-4">
    <div class="name">
        <h1 >Explore by Category</h1>
        <p>BROWSE ALL</p>
    </div>
    <div class="content-cards">
        <div class="card mx-3" style="width: 14rem;">
            <img src="../../../assets/images/run-an-effective-team-meeting.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Short Flim</h5>
            </div>
          </div>
          <div class="card mx-3" style="width: 14rem;">
            <img src="../../../assets/images/run-an-effective-team-meeting.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Theater</h5>
             
            </div>
          </div>
          <div class="card mx-3" style="width: 14rem;">
            <img src="../../../assets/images/run-an-effective-team-meeting.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">OTT platform</h5>
            </div>
          </div>
          <div class="card mx-3" style="width: 14rem;">
            <img src="../../../assets/images/run-an-effective-team-meeting.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Tv Ad</h5>
            </div>
          </div>
          <div class="card mx-3" style="width: 14rem;">
            <img src="../../../assets/images/run-an-effective-team-meeting.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Feature Flim</h5>
            </div>
          </div>
    </div>

</div>
