<div class="container thridsection">
    <div class="title thirdsec">
        <h2>Find the role you will ive</h2>
        <p>EXPLORE ALL ROLES</p>
    </div>
    
    
      <div class="row  justify-content-center">
        <div class="col-4">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                        <h5 class="card-title role-card-title">short Flim</h5>
                    <br>
                    <p class="card-text mt-3">Leading main in a Telgu OTT series, produced by Mahesh Babu <br><br> 4 roles Required <br>Expire Jan 09, 2022</p>
                  </div>
                  <span>
                    <img  src="../../../assets/images/run-an-effective-team-meeting.jpg" class="card-img-top crdimg" alt="...">
                    <span>YashRaj</span>
                  </span>
                
              </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                        <h5 class="card-title role-card-title">short Flim</h5>
                    <br>
                    <p class="card-text mt-3">Leading main in a Telgu OTT series, produced by Mahesh Babu <br><br> 4 roles Required <br>Expire Jan 09, 2022</p>
                  </div>
                  <span>
                    <img  src="../../../assets/images/run-an-effective-team-meeting.jpg" class="card-img-top crdimg" alt="...">
                    <span>YashRaj</span>
                  </span>
                
              </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                        <h5 class="card-title role-card-title">short Flim</h5>
                    <br>
                    <p class="card-text mt-3">Leading main in a Telgu OTT series, produced by Mahesh Babu <br><br> 4 roles Required <br>Expire Jan 09, 2022</p>
                  </div>
                  <span>
                    <img  src="../../../assets/images/run-an-effective-team-meeting.jpg" class="card-img-top crdimg" alt="...">
                    <span>YashRaj</span>
                  </span>
                
              </div>
        </div>
        <div class="col-4 gy-3">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                        <h5 class="card-title role-card-title">short Flim</h5>
                    <br>
                    <p class="card-text mt-3">Leading main in a Telgu OTT series, produced by Mahesh Babu <br><br> 4 roles Required <br>Expire Jan 09, 2022</p>
                  </div>
                  <span>
                    <img  src="../../../assets/images/run-an-effective-team-meeting.jpg" class="card-img-top crdimg" alt="...">
                    <span>YashRaj</span>
                  </span>
                
              </div>
        </div>
        <div class="col-4 gy-3">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                        <h5 class="card-title role-card-title">short Flim</h5>
                    <br>
                    <p class="card-text mt-3">Leading main in a Telgu OTT series, produced by Mahesh Babu <br><br> 4 roles Required <br>Expire Jan 09, 2022</p>
                  </div>
                  <span>
                    <img  src="../../../assets/images/run-an-effective-team-meeting.jpg" class="card-img-top crdimg" alt="...">
                    <span>YashRaj</span>
                  </span>
                
              </div>
        </div>
        <div class="col-4 gy-3">
            <div class="card final-card" style="width: 20rem;">
               <h3 >+433 more to <br> explore</h3>
                
              </div>
        </div>
      </div>
</div>
